SUPABASE_URL="https://bcfxebdpincjmyptlwdq.supabase.co"
SUPABASE_ANNON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjZnhlYmRwaW5jam15cHRsd2RxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjA4OTQzNDcsImV4cCI6MjAzNjQ3MDM0N30.9gKR1y09L-mOV__R7srrvvcRBOr0Rer4yrlJscpGKRY"